@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;
$dark-orange: #bf601f;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_minmob: 320px;
$r_mob336: 336px;
$r_mob400: 400px;
$r_mob500: 500px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1450: 1450px;
$r_desk_ful_1750: 1750px;


html {
    font-size: 10px;
    @media (max-width: $r_mob500) {
        font-size: 8px;
    }
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    overflow-x: hidden;
    background-image: url(../images/body-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    max-width: 1440px;
    margin: 0 auto 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.9rem 0px 0 15px;
    gap: 5.4%;
    @media (max-width: $r_desk_1280) {
        gap: 3.5%;
    }
    @media (max-width: $r_mob500) {
        padding-top: 1.9rem;
        padding-right: 1.8rem;
    }
    @media (max-width: $r_mob336) {
        margin: 0 auto 1.4rem;
    }


    &__navigation {
        flex-grow: 1;        
        margin-left: 4rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 0;
        }
        @media (max-width: $r_desk_hd) {
            flex-grow: 0;
        }
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0.3rem;
        gap: 4.8rem;
        @media (max-width: $r_desk_hd) {
            gap: 2.5rem;
        }
    }

    &__link {
        color: $green;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            color: $orange;
        }
    }

    &__flex {
        display: flex;
        flex-basis: 27.3rem;
        align-items: center;
        justify-content: space-between;
    }

    &__tel {
        color: #27300f;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 0.13rem;
        &:hover {
            color: $orange;
        }
        @media (max-width: $r_desk_hd) {
            display: none;
        }
    }

    &__cart {
        display: block;        
        height: 4rem;
        width: 4rem;        
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        border: 1px solid $orange;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        @media (max-width: $r_mob500) {
            width: 4.5rem;
            height: 4.5rem;
        }
        &:hover {
            background-color: $green;
            border: 1px solid $green;
            @media (max-width: $r_desk_hd) {
                background-color: $white;
                opacity: 1;
            }
            }        
        @media (max-width: $r_desk_hd) {
            background-color: $white;
            background-image: url(../images/cart-green.svg);
            border: 1px solid $green;
            opacity: 0.8;
        }
    }

        

    &__counter {
        font-size: 0.8rem;
        color: $white;
        position: absolute;
        right: 0.6rem;
        top: 0.6rem;
        @media (max-width: $r_mob500) {
            color: #000000;
            font-size: 1rem;
        }
    }

    &__phone, &__menu {
        display: none;            
        background-size: 45%;
    }

    &__phone {
        @media (max-width: $r_desk_hd) {
            display: block;        
            height: 4rem;
            width: 4rem;        
            border-radius: 100%;
            background-color: $white;
            background-image: url(../images/phone.svg);
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            border: 0.1rem solid $green;
            padding: 0;
            transition: 0.3s;
            opacity: 0.8;
        }
        @media (max-width: $r_mob500) {
            height: 4.5rem;
            width: 4.5rem;
        }
        &:hover {
            opacity: 1;
        }
    }

    &__menu {
        @media (max-width: $r_tab_900) {
            display: block;        
            height: 4rem;
            width: 4rem;        
            border-radius: 100%;
            background-color: $white;
            background-image: url(../images/menu.svg);
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            border: 0.1rem solid $green;
            padding: 0;
            transition: 0.3s;
            opacity: 0.8;
            cursor: pointer;
        }
        @media (max-width: $r_mob500) {
            height: 4.5rem;
            width: 4.5rem;
        }
        &:hover {
            opacity: 1;
        }
    }

    &__buttons {
        @media(max-width: $r_desk_hd) {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        @media (max-width: $r_tab) {
            gap: 1.5rem;
        }
        @media (max-width: $r_mob500) {
            gap: 1.35rem;
        }
    }

}


.logo {
    display: block;
    background-image: url(../images/logo.svg);
    flex-basis: 12rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1);        
    transition: 0.3s;
    &:hover {
        transform: scale(1.13, 1.125);
    }
}

.container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 22.5rem;
    @media (max-width: $r_desk_ful_1750) {
        margin: auto;
    }
    @media (max-width: $r_tab) {
        max-width: 600px;
    }
}

.main {
    position: relative;
    padding-bottom: 18.7rem;
    z-index: 0;
    @media (max-width: $r_desk_1120) {
        padding-bottom: 0;
    }

    &__item {
        margin-left: 12rem;
        max-width: 37.8rem;
        margin-top: 6.2rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin-left: 0;
            text-align: center;
            margin-top: 3rem;
        }
        @media (max-width: $r_mob500) {
            margin-top: 2.6rem;
        }
    }

    &__link {
        margin-top: 5rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
        @media (max-width: $r_mob500) {
            margin-top: 3.9rem;
        }
        @media (max-width: $r_mob336) {
            
        }
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: $r_desk_1120) {
            padding-top: 3rem;
            padding-bottom: 9rem;
        }
        @media (max-width: $r_mob336) {
            padding-bottom: 4.9rem;
        }
    }

    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350) {
            flex-basis: 650px;
            height: 650px;
        }

        @media (max-width: $r_desk_hd) {
            flex-basis: 600px;
            height: 600px;
        }

        @media (max-width: $r_desk_1120) {
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 395px);
        }

        @media (max-width: $r_tab) {
            display: none;
        }
    }

    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        @media (max-width: $r_desk_1350) {
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd) {
            border: 1px solid transparent;
            width: auto;
            height: auto;
        }
    }

    &__image {
        width: 93%;
        border-radius: 100%;
        animation: shadow 5s linear infinite;
    }

    &__imagemobi {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 3rem;
            animation: shadow 5s linear infinite;
            border-radius: 100%;
        }
        @media (max-width: $r_mob500) {
            max-width: 220px;
        }

    }

    &__text {
        padding-top: 4rem;
        line-height: 1;  
        @media (max-width: $r_desk_1120) {
            flex-basis: 395px;
        }        
        @media (max-width: $r_tab) {
            flex-basis: 100%;
            padding-top: 0;
        }  
        @media (max-width: $r_mob500) {
            flex-basis: 85%;
            margin: auto;
            letter-spacing: -0.4px;
        }    
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
            
        }

        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
            transition: 0.3s;
        }

        &_01 {
            top: 43px;
            left: 62px;
            line-height: 1.5;
            @media (max-width: $r_desk_hd) {
                top: 20px;
                left: 42px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                top: 25px;
                left: 85px;
            }
        }

        &_02 {
            bottom: -53px;
            right: 243px;
            line-height: 1.5;
            @media (max-width: $r_desk_1350) {
                bottom: -63px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                top: -21px;
                left: 13px;
            }
        }

        &_03 {
            top: 192px;
            right: 2px;
            line-height: 1.5;
            @media (max-width: $r_desk_1350) {
                top: 109px;
            }
            @media (max-width: $r_desk_hd) {
                top: 42px;
                right: 14px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                top: 19px;
                left: -26px;
            }
        }
    }

    &__food {
        display: block;
        color: rgba($green, 0.8);
    }

    &__tomato {
        position: absolute;
        bottom: 115px;
        right: 105px;
        width: 11rem;
        z-index: -1;
        @media (max-width: $r_desk_1280) {
            right: 10px;
        }
        @media (max-width: $r_desk_1120) {
            bottom: -30px;
        }
        @media (max-width: $r_mob500) {
            bottom: inherit;
            right: inherit;
            top: 64px;
            left: -12px;
            width: 7rem;
        }
    }

    &__avocado {
        position: absolute;
        top: 44px;
        right: -33px;
        width: 19.4rem;
        z-index: -1;
        @media (max-width: $r_desk_ful_1750) {
            width: 11.8rem;
            right: -10px;
            top: 110px;
        }
        @media (max-width: $r_desk_1280) {
            top: 100px;
        }
        @media (max-width: $r_tab) {
            right: -50px;
            top: 150px;
        }
        @media (max-width: $r_mob500) {
            right: -44px;
            top: 71px;
            width: 10.5rem;
        }
    }

    &__cucumber {
        position: absolute;
        top: -50px;
        left: 690px;
        width: 8.5rem;
        z-index: -1;
        @media (max-width: $r_tab) {
            left: inherit;
            right: 250px;
        }
        @media (max-width: $r_mob500) {
            top: inherit;
            right: -25px;
            bottom: 175px;
            width: 5.5rem;
        }
    }

    &__pepper {
        position: absolute;
        top: 398px;
        left: 38px;
        width: 8.6rem;
        z-index: -1;
        @media (max-width: $r_desk_ful_1750) {
            display: none;
        }
        @media (max-width: $r_mob500) {
            display: block;
            top: 360px;
            left: -0.4rem;
            width: 4.6rem;
        }
    }

    &__beans {
        position: absolute;
        bottom: 160px;
        left: -33px;
        width: 13.8rem;
        z-index: -1;
        @media (max-width: $r_desk_1120) {
            bottom: 30px;
        }
        @media (max-width: $r_mob500) {
            display: none;
        }
    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1;
    @media (max-width: $r_desk_1280) {
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1120) {
        font-size: 6rem;
    }
    @media (max-width: $r_tab) {
        text-align: center;
    }
    @media (max-width: $r_mob336) {
        font-size: 3.7rem;
    }
    &__span {
        font-style: italic;
    }

    &_block {

        margin-left: -2px;
        @media (max-width: $r_mob500) {
            margin-left: 0px;
            letter-spacing: 0.2px;
        }
        .title__span {
            display: block;
        }

        @media (max-width: $r_mob336) {
            margin-left: -3px;
        }
    }

    &_about {
        margin-left: 7px;
        letter-spacing: 0.8px;
        @media (max-width: $r_mob500) {
            letter-spacing: 0.6px;
            margin-left: 0;
        }
    }
}

.description {
    margin: 0;
    line-height: 1.5;
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &_size_s {
        font-size: 1.8rem;
        line-height: 1.5;
        @media (max-width: $r_desk_1280) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_tab) {
            text-align: center;
        }
        @media (max-width: $r_mob500) {
            line-height: 1.4;
            font-weight: 600;
            letter-spacing: -0.3px;
        }
    }

    &_size_m {
        font-size: 2.4rem;
        line-height: 1.5;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_tab) {
            text-align: center;
        }
        @media (max-width: $r_mob500) {
            font-size: 1.6rem;
            letter-spacing: 0px;
            font-weight: 600;
        }
    }
}

.link {
    color: $white;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2); 
    text-decoration: none;   
    border-radius: 3.8rem;
    display: inline-block;
    border: none;
    transition: 0.3s;
    @media (max-width: $r_desk_1280) {
        font-size: 1.4rem;
    }
    @media (max-width: $r_mob336) {
        padding: 2.2rem 3.5rem;
    }
    &:hover {
        background-color: $dark-orange;
    }
    &_max {
        padding: 2.4rem 5.1rem;
        @media (max-width: $r_desk_1450) {
            padding: 1.9rem 3.8rem;
            font-size: 1.4rem;
        }
        @media (max-width: $r_tab) {
            padding: 1.8rem 3rem;
            font-size: 1.3rem;
            margin: auto;
        }
    }
    &_min {
        padding: 2rem 3.3rem;
        font-size: 1.4rem;
        box-shadow: 0px 1rem 1.1rem 0.17rem rgba(207, 92, 13, 0.15);
        @media (max-width: $r_desk_1450) {
            padding: 1.8rem 2.5rem;
            font-size: 1.35rem;
        }
        @media (max-width: $r_desk_1120) {
            margin: auto;
        }
        @media (max-width: $r_tab_900) {
            padding: 1.9rem 3rem;
        }  
        @media (max-width: $r_mob336) {
            padding: 1.8rem 3.7rem;
            font-size: 1.25rem;
        }
    }
}

.offer {
    padding-top: 2.2rem;
    line-height: 1;
    padding-bottom: 16.4rem;
    @media (max-width: $r_desk_1280) {
        padding-bottom: 8rem;
    }
    @media (max-width: $r_mob500) {
        padding-bottom: 5.8rem;
    }
    
    &__text {
        max-width: 690px;
        margin-top: 5.8rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
        @media (max-width: $r_mob336) {
            margin-top: 3.4rem;
            margin-left: 17px;
            max-width: 255px;
        }
    }

}

.slider {
    overflow: hidden;
    padding-top: 7.3rem;
    @media (max-width: $r_tab) {
        max-width: 450px;
        margin: 0 auto;
        padding-top: 3.3rem;
        padding-bottom: 6rem;
    }
    @media (max-width: $r_mob500) {
        max-width: 210px;
    }
}

.swiper {
    overflow: initial;
    &_category {
        @media (min-width: $r_mob500) {
            display: none;
        }
        @media (max-width: $r_mob500) {
            display: block;
            padding: 0;
            margin-top: 3.75rem;
        }
    }
    &-slide{
        border: 1px solid rgba(39, 48, 15, 0.4);
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 3rem 3.9rem 4.2rem;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @media (max-width: $r_desk_1280) {
            padding: 3rem 1.9rem 4.2rem;
        }
        @media (max-width: $r_tab) {
            padding: 2.5rem 1.5rem 2.5rem;
        }
        &_white {  
            display: flex;
            flex-direction: column;
            justify-content: space-between;      
            height: 520px;        
            justify-content: flex-end;
            background-size: contain;
            @media (max-width: $r_desk_hd) {
                height: 400px;
            }
            @media (max-width: $r_mob500) {
                height: 239px;
                text-align: center;
            }
            @media (max-width: $r_mob500) {
                background-size: 133px 153px;
                background-position-x: 17px;
            }
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                    @media (max-width: $r_mob500) {
                        height: auto;
                    }
                }       
                &::after {
                content: '';
                background-color: rgba($white, 0.55);
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                position: absolute;
                left: 2px;
                top: 2px;
                border-radius: 2rem;
                z-index: -1;
                }
            }
        }
        
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }
        
        &_category {
            border: none;
            padding: 1.75rem 0 0 0;
            &:hover {
                box-shadow: none;
            }
        }

        &_milk {
            background-image: url(../images/bottle-of-milk.png);
        }

        &_pasta {
            background-image: url(../images/pasta.png);
        }

        &_steaks {
            background-image: url(../images/steaks.png);
            @media (max-width: $r_mob500) {
                background-position-x: 30px;
            }
        }

        &__title {
            font-size: 3rem;
            font-weight: 700;
            font-family: $font-cormorant;
            color: $green;
            margin-bottom: 0;
            margin-top: 3rem;
            margin-left: 0.2rem;    
            @media (max-width: $r_desk_1120) {
                min-height: 70px;
                margin-top: 1rem;
            }   
            @media (max-width: $r_tab) {
                text-align: center;
                font-size: 2rem;
                min-height: 30px;
            } 
            @media (max-width: $r_mob500) {
                font-size: 1.75rem;
                margin-top: 1.75rem;
            }    

        }

        &__description {
            margin-top: 2.3rem;
            max-width: 29rem;
            font-size: 1.8rem;
            line-height: 1.5;
            margin-left: 0.2rem;
            min-height: 5.5rem;
            @media (max-width: $r_desk_1120) {
                min-height: 108px;
            }  
            @media (max-width: $r_tab) {
                margin-top: 1.5rem;
                margin-bottom: 0;
                min-height: 55px;                
                text-align: center;
                font-size: 1.3rem;
            }
            @media (max-width: $r_mob336) {
                font-size: 1.5rem;
                max-width: 15rem;
                margin: -0.4rem auto 0 auto;
            }
        }

        &__price {
            font-size: 2.4rem;
            @media (max-width: $r_tab) {
                font-size: 1.8rem;
                margin: 0;
            }
            @media (max-width: $r_tab) {
                text-align: center;
            } 
            @media (max-width: $r_mob500) {
                margin-top: -0.75rem;
            }
        }

        &__hover {
            opacity: 0;
            height: 0;
            max-width: 280px;
            @media (max-width: $r_mob500) {
                height: auto;
                opacity: 1;
            }
        }

        &__text {
            line-height: 1.5;
            margin-top: 2.7rem;
            margin-bottom: 3.5rem;
            opacity: 0.7;
            @media (max-width: $r_mob500) {
                display: none;
            }
        }

        &__link {
            color: $green;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            opacity: 0.8;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 2rem;
            @media (max-width: $r_mob500) {
                font-size: 1.25rem;
                justify-content: center;
                gap: 1rem;
                margin-bottom: -2px;
                margin-left: 1px;
                letter-spacing: 0px;
            }
            &::before {
                content: "";
                display: block;
                width: 2.8rem;
                height: 2.8rem;
                border: 1px solid $green;
                border-radius: 100%;
                background-image: url(../images/plus.svg);
                background-size: 1.2rem 1.2rem;
                background-repeat: no-repeat;
                background-position: center;
                vertical-align: middle;
                opacity: 0.8;  
                @media (max-width: $r_mob500) {
                    width: 2.5rem;
                    height: 2.5rem;
                }             
            }
            
            &:hover {
                    opacity: 1;
                }
        }

        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;
            @media (max-width: $r_desk) {
                height: 222px;
            }  
            @media (max-width: $r_tab) {
                height: 170px;
            } 
            @media (max-width: $r_mob336) {
                height: 95px;
            }
        }

        &__image {
            width: 100%;
            max-width: 351px;
            height: 100%;
            object-fit: contain;
        }
        
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 3.3rem;
            margin-left: 0.1rem;
            @media (max-width: $r_desk_1280) {
                gap: 2rem;
                flex-direction: column;
                align-items: flex-start;
            }
            @media (max-width: $r_tab) {
                margin-top: 1.5rem;
            }
            @media (max-width: $r_mob500) {
                margin-top: 2.3rem;
            }
        }
    }

    &-pagination {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
        }
    }

    &_trends{
        .swiper-horizontal > .swiper-pagination-bullets {
            @media (max-width: $r_mob500) {
                bottom: -20px;
            }
        }
    }

    &-button-prev, &-button-next {
        top: -6rem;
        right: -0.8rem;
        opacity: 0.4;
        @media (max-width: $r_tab) {
            display: none;
        }
        &::after {
            color: $green;
            font-size: 20px;
        }
        &:hover {
            opacity: 1;
        }
    }

    &-button-prev {
        left: initial;
        right: 7.2rem;
    }

    &-wrapper {
        width: 38%;
    }
}


.swiper-horizontal > .swiper-pagination-bullets {
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $r_mob500) {
        bottom: -40px;
    }
}

.swiper-pagination-bullet-active {
    background: $orange;
    border: 1px solid $orange;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}

.counter {
    display: flex;
    @media (max-width: $r_tab) {
        display: none;
    } 
    @media (max-width: $r_desk_1120) {
        margin: auto;
    } 
    &__btn {
        cursor: pointer;
        height: 50px;
        width: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
        @media (max-width: $r_tab) {
            height: 35px;
            width: 35px;
        }

        &_min {
            height: 40px;
            width: 40px;
    
            }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 30%;
        background-repeat: no-repeat;
        opacity: 0.4;
    }

    &__plus {
        background-image: url(../images/plus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
    }

    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        padding: 0;
        @media (max-width: $r_tab) {
            font-size: 2rem;
        }

        &_min {
            width: 33px;
        }
    }
}

.about {
    &__box {
        margin-top: 7.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_desk_1280) {
            margin-top: 4rem;
        }
        @media (max-width: $r_tab_900) {
            gap: 4rem;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
        }
        @media (max-width: $r_mob500) {
            margin-top: 1.9rem;
            gap: 6rem;
        }
    }

    &__text {
        flex-basis: 60rem;        
        margin-left: 12.1rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            flex-basis: 10rem;
            margin-left: 0;
        }
    }

    &__list {
        list-style: none;
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        font-style: italic;
        display: flex;
        gap: 8.7rem;
        margin: 0;
        padding-left: 0;
        margin-top: -2.2rem;
        @media (max-width: $r_desk_1120) {
            gap: 4.7rem;
        }
        @media (max-width: $r_mob500) {
            gap: 5rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.7rem;
        @media (max-width: $r_mob500) {
            font-size: 1.75rem;
            font-weight: 700;
            gap: 1.1rem;
        }
        &::before {
            content: '';
            width: 84px;
            height: 84px;
            border: 1px solid rgba($green, 0.4);
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 51%;
            @media (max-width: $r_mob500) {
                width: 58px;
                height: 58px;
            }
        }        
        
        &_health {
            &::before{
                background-image: url(../images/fruits.svg);
            }
        }

        &_traditions {
            &::before{
                background-image: url(../images/traditional.svg);
            }
        }

        &_taste {
            &::before{
                background-image: url(../images/good.svg);
            }
        }
    }
}

.trends {
    margin-top: 17.8rem;
    @media (max-width: $r_desk_1450) {
        margin-top: 10rem;
    }
    @media (max-width: $r_desk) {
        margin-top: 7rem;
    }
    @media (max-width: $r_mob500) {
        margin-top: 6.9rem;
    }
    &__text {
        margin-top: 3.8rem;
        margin-bottom: -1.1rem;
        @media (max-width: $r_mob500) {
            margin-top: 2.4rem;
            margin-bottom: 2rem;
        }
    }
}

h1 {
    font-family: $font-cormorant;
    color: $green;
    font-size: 8rem;
    margin-top: 17.8rem;
    margin-bottom: 0;
    @media (max-width: $r_desk_1450) {
        margin-top: 12rem;
    } 
    @media (max-width: $r_desk_1120) {
        margin-top: 8rem;
    } 
    @media (max-width: $r_tab) {
        margin-top: 4rem;
    } 
    @media (max-width: $r_mob336) {
        font-size: 3.75rem;
        margin-top: 2.9rem;
        text-align: center;
    }

}

.catalog {
    &__text{    
        margin-top: 3.1rem;
        letter-spacing: 0.1rem;
        @media (max-width: $r_mob500) {
            margin-top: 2.2rem;
        }
    }
    &__btn {
        color: $green;
        display: block;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        letter-spacing: 0.13rem;    
        margin-top: 5.8rem;
        padding-left: 2.7rem;  
        cursor: pointer; 
        opacity: 0.8; 
        @media (max-width: $r_desk_1120) {
            margin-top: 3rem;
        } 
        @media (max-width: $r_mob336) {
            margin-top: 5rem;
            font-size: 1.25rem;
            padding-left: 1.1rem;
            letter-spacing: 0.1rem;
        }
        
        &::before {
            content: "";
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(../images/refresh.svg);
            background-size: 2.4rem 2.4rem;
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: middle;
            margin-right: 14px; 
            @media (max-width: $r_mob336) {
                margin-right: 1.25rem;
            }         
        }

        &:hover {
            opacity: 1;
        }

    }
}

.category {
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 8.5rem;
    @media (max-width: $r_desk_1450) {
        margin-top: 5rem;
        flex-wrap: wrap;
        justify-content: center;
    } 
    @media (max-width: $r_tab) {
        margin-top: 3rem;
    } 
    @media (max-width: $r_mob500) {
        display: none;
    }
    &:hover {
        opacity: 1;
    }

    &__item {
        flex-basis: 230px;
        text-align: center;
        @media (max-width: $r_tab) {
            flex-basis: 200px;
        } 
    }
    &__link {
        text-decoration: none;
        font-size: 1.8rem;
        color: $green;
        align-items: center;
        border: 1px solid $green;
        border-radius: 3.5rem;
        padding: 2.4rem 0;
        display: block;
        @media (max-width: $r_tab) {
            padding: 2rem 0;
        } 
        &:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }

    &_swiper {
        font-size: 1.25rem;
        padding: 1.6rem 1rem;
        text-align: center;
    }
}

.catalog-grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    @media (max-width: $r_desk_1120) {
        grid-template-columns: repeat(3, 1fr);
    }  
    @media (max-width: $r_tab) {
        margin-top: 3rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    } 
    @media (max-width: $r_mob500) {
        margin-top: 2.5rem;
    }
    &__item {
        border: 1px solid rgba(39, 48, 15, 0.4);
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 0.7rem 1rem;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @media (max-width: $r_desk_1120) {
            text-align: center;
        } 
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
            }
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        font-family: $font-cormorant;
        color: $green;
        margin: 1.3rem 0 1.5rem 1rem;
        padding: 1rem;
        @media (max-width: $r_desk_1280) {
            margin: auto;        
            min-height: 8rem;
        } 
        @media (max-width: $r_tab) {
            font-size: 2rem;
            min-height: 4rem;
        } 
        @media (max-width: $r_mob336) {
            font-size: 1.75rem;
            min-height: 2.8rem;
            margin-top: 1.2rem;
            padding: 0;
        }
    }

    &__description {
        margin-left: 2rem;
        margin-top: -1rem;
        max-width: 24rem;
        font-size: 1.6rem;
        line-height: 1.5;
        min-height: 5.5rem;
        opacity: 0.7;
        @media (max-width: $r_desk_1280) {
            margin: auto;        
            min-height: 8rem;
        } 
        @media (max-width: $r_tab) {
            font-size: 1.3rem;
            padding: 0 1rem;
            min-height: 5rem;
        } 
        @media (max-width: $r_mob336) {
            font-size: 1.25rem;
            min-height: 6.45rem;
        }
    }    
    
    &__price {
        font-size: 2.4rem;
        margin-left: 2rem;
        margin-top: -1rem;
        @media (max-width: $r_desk_1120) {
            margin: auto;
        } 
        @media (max-width: $r_tab) {
            font-size: 2rem;
        } 
        @media (max-width: $r_mob336) {
            font-size: 1.5rem;
            margin-top: 0;
        }
    }
    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
        padding-top: 1.5rem;
        @media (max-width: $r_tab) {
            height: 150px;
        } 
        @media (max-width: $r_mob336) {
            height: 65px;
            padding-top: 0;
        }
    }
    &__image {
        width: 98%;
        max-width: 351px;
        height: 100%;
        object-fit: contain;
        @media (max-width: $r_mob336) {
            max-width: 65px;
        }
    }
        
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3.1rem 1.9rem;
        @media (max-width: $r_desk_1350) {
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-start;
        }
        @media (max-width: $r_desk_1120) {
            margin-top: 1.5rem;
            margin-bottom: 2rem;
        } 
        @media (max-width: $r_mob336) {
            margin: 1.7rem 0 1.3rem 0;
        }
    }
    &_other {
        @media (max-width: $r_mob336) {
            display: none;
        }
    }
}

.delivery {
    margin-top: 14.1rem;
    margin-left: -1.5rem;
    @media (max-width: $r_desk_1450) {
        margin-top: 10rem;
    }
    @media (max-width: $r_desk_1120) {
        margin-top: 7rem;
    } 
    @media (max-width: $r_tab) {
        margin-left: 0;
    } 
    &__flex {
        margin: 5.6rem 10rem 0rem 12.9rem;
        display: flex;
        justify-content: space-between;
        min-height: 80px;
        @media (max-width: $r_tab_900) {
            margin: 2rem 6rem 0rem 6rem;
        } 
        @media (max-width: $r_tab) {
            margin: 2rem 0rem 0rem 0rem;
            gap: 2rem;
            flex-direction: column;
        } 
        @media (max-width: $r_mob336) {
            gap: 0;
        }
    }
    &__text_row1 {
        flex-basis: 47.1%;
        p {
            margin-top: 1.8rem;
            margin-bottom: 2.7rem;
        }
    }

    &__text_row2 {
        flex-basis: 39.7%;    
    }

    &__link {
        color: $green;
        text-decoration: none;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #74776b;
            display: block;
            position: absolute;
            bottom: 0.3rem;
            left: 0;
        }
    }

    &__span {
        color: $orange;
    }

    &__ul {
        margin-top: 4.7rem;
        display: flex;
        list-style-type: none;
        max-width: 28rem;
        gap: 3rem;
        padding-left: 0.2rem;
        cursor: pointer;
        @media (max-width: $r_tab) {
            margin: auto;
            padding-top: 3rem;
        } 
        @media (max-width: $r_mob336) {
            padding-top: 3.6rem;
            max-width: 25rem;
            gap: 2.5rem;
        }
    }

    &__image1 {
        width: 5.3rem;
        height: 3.2rem;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: middle;
        background-image: url(../images/mastercard.svg);
        transform: scale(1);       
        opacity: 0.4; 
        transition: 0.3s;  
        @media (max-width: $r_mob336) {
            width: 5rem;
            height: 3rem;
        }   
        &:hover {            
            transform: scale(1.05);
            opacity: 1;
        }

    }

    &__image2 {
        width: 7.4rem;
        height: 2.3rem;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: middle;
        background-image: url(../images/visa.svg);
        transform: scale(1);
        opacity: 0.4;
        transition: 0.3s; 
        @media (max-width: $r_mob336) {
            width: 7rem;
            height: 2.1rem;
        }
        &:hover {
            transform: scale(1.05);
            opacity: 1;
        }
    }

    &__image3 {
        width: 8.7rem;
        height: 2.4rem;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: middle;
        background-image: url(../images/paypall.svg);
        transform: scale(1);
        opacity: 0.4; 
        transition: 0.3s;
        @media (max-width: $r_mob500) {
            width: 8.3rem;
            height: 2.1rem;
        }
        &:hover {
            transform: scale(1.05);
            opacity: 1;
        }
    }
}

.contact {
    margin-top: 18.6rem;
    @media (max-width: $r_desk_1450) {
        margin-top: 13rem;
    }
    @media (max-width: $r_tab) {
        margin-top: 3rem;
    } 
    @media (max-width: $r_mob336) {
        margin-top: 6.3rem;
    }
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $r_desk) {
            flex-direction: column;
            gap: 2rem;
        } 

        &__text {
            max-width: 40rem;
            flex-grow: 1;
            margin-top: 6.3rem;
            margin-left: 12.2rem;
            letter-spacing: 0.09rem;
            line-height: 1.67;
            @media (max-width: $r_desk_hd) {
                margin-top: 5rem;
                margin-left: 0rem;
            }
            @media (max-width: $r_desk) {
                max-width: 95rem;
                text-align: center;
            } 
            @media (max-width: $r_mob336) {
                margin-top: 3.8rem;
                line-height: 1.35;
                letter-spacing: -0.1rem;
                font-weight: 600;
            }
        }
        &__form {
            flex-basis: 58.9rem;
            margin-top: -1.1rem;
            @media (max-width: $r_desk_1120) {
                flex-basis: 55rem;
            } 
            @media (max-width: $r_desk) {
                width: 58.9rem;
            }
            @media (max-width: $r_tab) {
                width: 44rem;
            } 
            @media (max-width: $r_mob336) {
                max-width: 36rem;
                margin-top: 3.75rem;
                max-height: 50.5rem;
            }
        }

        &__ul {
            list-style-type: none;
            padding: 0;
            margin-top: 5.2rem;
            letter-spacing: 0px;
            @media (max-width: $r_desk) {
                margin-top: 2rem;
                display: flex;
                justify-content: space-around;
            }
            @media (max-width: $r_mob336) {
                margin-top: -0.2rem;
            }
            @media (max-width: $r_mob336) {
                justify-content: space-between;
            }
        }

        &__li {
            margin-top: 1rem;
        }

        &__link {
            text-decoration: none;
            font-size: 2.4rem;
            color: $green;
            font-weight: 600;
            @media (max-width: $r_tab) {
                font-size: 1.8rem;
            } 
            @media (max-width: $r_mob336) {
                font-size: 1.6rem;
                letter-spacing: -0.07rem;
            }
            &::before {
                content: "";
                display: inline-block;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                vertical-align: middle;
                margin-right: 3rem; 
                @media (max-width: $r_tab) {
                    margin-right: 1rem;
                } 
                @media (max-width: $r_mob336) {
                    margin-right: 1.2rem;
                }
            }
            &_tel {
                &::before {     
                    content: "";           
                    background-image: url(../images/tel.svg);
                    width: 2.9rem;
                    height: 2.5rem;
                    @media (max-width: $r_mob336) {
                        width: 2.4rem;
                        height: 2.25rem;
                    }
                }
            }

            &_mail {
                &::before {
                    content: "";
                    background-image: url(../images/mail.svg);
                    width: 2.9rem;
                    height: 1.9rem;
                    @media (max-width: $r_mob500) {
                        width: 2.2rem;
                        height: 1.5rem;
                    }
                }
            }
        }
    }
}

.card {
    border: 2px solid rgba($green, 0.4);
    border-radius: 2rem;
    padding-top: 3.3rem;
    padding-left: 5.4rem;
    @media (max-width: $r_mob336) {
        border: 1px solid rgba($green, 0.4);
        padding-top: 2.4rem;
        padding-left: 1.2rem;
    }

    &__form {
        margin-left: 0.5rem;
    }

    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;  
        margin-top: 0;
        margin-left: 0.4rem;
        @media (max-width: $r_mob336) {
            text-align: center;
            letter-spacing: -0.1rem;
            margin-left: -1rem;
            margin-bottom: 2.875rem;
        }
    }

    &__label {
        font-size: 1.2rem;
        display: block;
        margin: 0.4rem 0 0.8rem 0.5rem;
    }

    &__input {
        border: 1px solid rgba($green, 0.4);
        display: block;
        height: 6rem;
        width: 43.5rem;
        border-radius: 2rem;
        margin-bottom: 3.2rem;
        padding-left: 3rem;
        @media (max-width: $r_tab) {
            width: 29.5rem;
            height: 5rem;
        } 
        @media (max-width: $r_mob336) {
            width: 30rem;
            margin-bottom: 1.8rem;
            padding-left: 2rem;
        }
        &:focus {
            outline: none;
            border: 1px solid rgba($green, 1);
        }
        &:invalid {
            outline: none;
            border: 1px solid rgba(#f50c0d, 1);
        }
    }

    &_btn {
        padding: 2.4rem 4.8rem;
        margin-top: 1rem;
        cursor: pointer;
        @media (max-width: $r_mob336) {
            padding: 2.1rem 4rem;
            margin-top: 1.875rem;
            margin-left: 5.125rem;
        }
    }

    &__check {
        font-size: 1.2rem;
        color: rgba($green, 0.6);
        line-height: 1.5;
        max-width: 36rem;
        margin-top: 1.4rem;
        margin-bottom: 4rem;
        @media (max-width: $r_mob336) {
            font-size: 1.25rem;
            line-height: 1.5;
            max-width: 29rem;
            margin-top: 1.9rem;
            margin-bottom: 3.7rem;
            margin-left: 4.2rem;
        }
    }
    &__link {
        color: rgba($green, 0.6);
        text-decoration: none;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #e8e8e7;
            display: block;
            position: absolute;
            bottom: 0.17rem;
            left: 0;
        }
    }
}

footer {
    padding-bottom: 7rem;
    border-top: 1px solid rgba($green, 0.3);
    margin-top: 16rem;
    @media (max-width: $r_desk_1450) {
        margin-top: 12rem;
    }
    @media (max-width: $r_desk) {
        margin-top: 2rem;
    }
}

.footer {
    &-box {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $r_tab) {
            margin-top: 8rem;
            flex-direction: column;
        }
        @media (max-width: $r_mob336) {
            margin-top: 9.8rem;
        }
        &__link1 {
            flex-basis: 21.5%;
            @media (max-width: $r_tab_900) {
                display: none;
            } 
            @media (max-width: $r_tab) {
                display: block;;
            } 
        }
    }

    &_logo {
        width: 17.9rem;
        height: 4.8rem;
        flex-basis: 21.5%;
        margin-top: -4.8rem;
        @media (max-width: $r_desk_1120) {
            flex-basis: 18%;
        }
        @media (max-width: $r_tab_900) {
            display: none;
        }
        @media (max-width: $r_tab) {
            display: block;
        }
        @media (max-width: $r_mob336) {
            width: 15rem;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        line-height: 2.5;
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: space-around;
            width: 100%;    
        } 
        @media (max-width: $r_mob336) {
            margin-bottom: 0;
        }
    }

    &_adress {
        flex-direction: column;
            @media (max-width: $r_mob336) {
                margin-top: 10px;
                line-height: 2.2;
        }
    }

    &__item {
        color: $green;
        font-size: 1.8rem;
        margin-bottom: 0;
        padding-bottom: 0;
        @media (max-width: $r_tab) {
            text-align: center;
        }
        @media (max-width: $r_mob336) {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    &__link {
        text-decoration: none;
        color: $green;
        font-size: 1.8rem;   
        transition: 0.3s; 
        @media (max-width: $r_mob336) {
            font-size: 1.5rem;
            font-weight: 600;
            margin: auto;
        }    
        &:hover {
            color: $orange;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 6.7rem;
        @media (max-width: $r_tab) {
            margin-top: 2rem;
        }
    }

    &__tel {
        font-size: 2.7rem;
        margin-bottom: 3.2rem;
        @media (max-width: $r_mob336) {
            font-size: 3.75rem;
            margin-bottom: 0.8rem;
            margin-top: 1.25rem;
            font-weight: 400;
        }
    }

    &-social {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 21rem;
        padding: 0;
        margin-top: 2.9rem;
        @media (max-width: $r_mob336) {
            gap: 2.875rem;
            width: 26.2rem;
            margin: 4.875rem auto 3.375rem auto;
        }
        &__link {
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: middle;
            width: 4.6rem;
            height: 4.6rem;
            border: 0.2rem solid $green;
            border-radius: 100%;
            opacity: 0.8;  
            background-size: 45%;
            @media (max-width: $r_mob336) {
                width: 6rem;
                height: 6rem;
                border: 0.29rem solid $green;
            }  

            &_fb {
                background-image: url(../images/fb.svg);
            }
            &_vk {
                background-image: url(../images/vk.svg);
            }
            &_inst {
                background-image: url(../images/inst.svg);
            }            
            
            &:hover {
                opacity: 1;
            }
        }
    }
    
    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.6rem;
        opacity: 0.6;
        @media (max-width: $r_tab) {
            flex-direction: column;
            margin-top: 0;
        }
    }

    &__copy {
        @media (max-width: $r_tab) {
            margin: 0;
        }
        @media (max-width: $r_mob336) {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    &__author {
        @media (max-width: $r_tab) {
            margin: 0;
            margin-top: 1rem;
        }
        @media (max-width: $r_mob336) {
            font-size: 1.25rem;
            font-weight: 600;
        }
        a {
            color: $green;
            text-decoration: none;
            cursor: pointer;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, 0.5);
    }
    50% {
        box-shadow: 20px 20px 33px 0px rgba($green, 0.5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($green, 0.5);
    }
    @media (max-width: $r_tab) {
        0% {
            box-shadow: 0 0 0 0 rgba($green, 0.5);
        }
        50% {
            box-shadow: 20px 20px 33px 0px rgba($green, 0.5);
        }
        100% {
            box-shadow: 0 0 0 0 rgba($green, 0.5);
        }
    }
}
